body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: auto 10px auto -30px;
    justify-content: space-between;
}

.lista ul li {
    display: inline-block;
    margin-right: 20px;
}

.lista ul li:last-child {
    margin-right: 0;

}


.titulo {
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}


.card-evento {
    width: calc(30% - 50px);
    margin-bottom: 30px; /* Em vez de margin, use margin-bottom para garantir espaço entre os cards */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Usa flexbox para alinhar os itens dentro do card */
    flex-direction: column; /* Alinha o conteúdo na vertical */
  }

.eventos {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-evento p {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 10px;
    flex-grow: 1;
    overflow: hidden;
}


#search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#search-button i {
    font-size: 20px;
    color: #333;
}

.search_container {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.admin {
    border-radius: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Para centralizar horizontalmente */
}

.card-evento img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-evento h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
}


.botao {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #0056b3;

}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

.modal input[type="text"],
.modal input[type="password"] {
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.botaolog {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Criar Conta Link */
.criar-conta-link {
    margin-top: 10px;
    text-align: center;
}


.nav-menu {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: rgba(104, 115, 133, 0.5);
    transition: left 0.3s ease;
    overflow-y: auto;
}

.nav-menu.open {
    left: 0;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu input {
    float: left;
    margin-right: 20px;
}

.nav-menu img {
    float: right;
}

.nav-menu ul li {
    padding: 15px;
}

.nav-menu ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu ul li a:hover {
    color: #0056b3;
}




@media only screen and (min-width: 768px) {
    .lista ul {
        display: inline-block;
    }

    .nav-menu {
        width: 250px;
    }
}

@media only screen and (max-width: 767px) {
    .lista ul {
        display: inline-block;
        text-align: center;
    }

    .nav-menu {
        width: 70%;
        left: -100%;
    }

    .nav-menu.open {
        left: 0;
    }

    .nav-menu ul li {
        padding: 10px;
    }

    .eventos .titulo {
        font-size: 30pt;
    }

    .card-evento {
        width: 100%;
        margin: 10px 0;
    }
}



/* Estilo para o formulário de criar conta */
#criar-conta {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#criar-conta h2,
.modal h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

#criar-conta label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#criar-conta input[type="text"],
#criar-conta input[type="email"],
#criar-conta input[type="password"],
#criar-conta input[type="tel"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#criar-conta input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#criar-conta input[type="submit"]:hover {
    background-color: #45a049;
}



/* Estilo para o modal de detalhe dos eventos */
.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro semi-transparente */
}

.modal-eventos {
    display: none;
    position: fixed;
    color: black;
    font-weight: bold;
    background-color: rgba(233, 233, 233, 0.9);
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    width: 100%;
    max-width: 100%;
    text-align: center;
    /* Centralizar conteúdo */
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #0056b3;
}

#caption {
    text-align: center;
}

#modalNome {
    font-size: 24px;
    margin-bottom: 10px;
}

#modalData,
#modalLocal,
#modalDescricao {
    margin-bottom: 10px;
}

#img01 {
    width: 250px;
    display: block;
    margin: 0 auto;
}

/*Estilo para o rodape*/
footer {
    background-color: rgba(104, 115, 133, 0.1);
    color: #000000;
    width: 100%;
    text-align: center;

}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    color: #000000;
    text-decoration: none;
}

.copy {
    margin-top: 20px;
    font-weight: bold;
}



.botao-voltar-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #007bff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botao-voltar-topo:hover {
    color: #000000;
}